sudo: false
language: scala
scala:
  - 2.11.4
  - 2.11.7
jdk:
  - openjdk8
  - oraclejdk8
env:
  - TEST_SUITE=unit-tests
script:
  - ant $TEST_SUITE
notifications:
  email:
    recipients:
      - martin.quinson@loria.fr
      - gerald.oster@loria.fr
      - matthieu.nicolas@loria.fr
    on_success: change
    on_failure: always
